* {
  font-family: 'Poppins', sans-serif;
}

.mt-6 {
  margin-top: 9rem;
}

.mt-7 {
  margin-top: 11.5rem;
}

.ms-6 {
  margin-left: 8rem;
}

.me-6 {
  margin-right: 19rem;
}


.btn-success {
  background-color: #0AB39C !important;
  border-color: #0AB39C !important;
}

.btn-success:hover {
  background-color: #089E8A !important;
  /* Warna hover */
  border-color: #089E8A !important;
}

.btn-primary {
  background-color: #00426D !important;
  border-color: #00426D !important;
}

.btn-primary:hover {
  background-color: #015994 !important;
  border-color: #015994 !important;
}

.btn-secondary {
  background-color: #A1A8AA !important;
  border-color: #A1A8AA !important;
}

.btn-secondary:hover {
  background-color: #707172 !important;
  border-color: #707172 !important;
}

.custom-bg {
  background-color: #f3f3f9 !important;
  /* Ganti dengan warna yang diinginkan */
}


.text-primary {
  color: #00426D !important;
}

.body {
  background-color: #f3f3f9;
}

.profile-dropdown .bi-caret-down-fill {
  transition: transform 0.3s;
}

.profile-dropdown .rotate {
  transform: rotate(180deg);
}

ul.dropdown-menu {
  min-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-dropdown {
  background-color: #f3f3f9 !important;
}

/* styles.css atau file CSS terkait */
.doughnut-container {
  max-width: 150px;
  /* Ganti dengan ukuran yang diinginkan */
  max-height: 150px;
  /* Ganti dengan ukuran yang diinginkan */
  width: 100%;
  /* Menjaga agar lebar 100% dari wadah */
  height: 100%;
  /* Menjaga agar tinggi 100% dari wadah */
  display: flex;
  /* Menjaga agar konten di dalamnya bisa diposisikan dengan flexbox */
  justify-content: center;
  /* Mengatur konten ke tengah secara horizontal */
  align-items: center;
  /* Mengatur konten ke tengah secara vertikal */
}

.checkmark-animation {
  animation: checkmark 1s ease-in-out forwards;
}

@keyframes checkmark {
  0% {
    transform: scale(0) rotate(0deg);
    opacity: 0;
  }

  30% {
    transform: scale(1.2) rotate(180deg);
    opacity: 0.5;
  }

  60% {
    transform: scale(0.9) rotate(270deg);
    opacity: 1;
  }

  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

